@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}
#root{
  background-color: black;
box-sizing: border-box;
}
h1, h2, h3, p{
  color: #c5a7ac;
}
h4{
  color: white;
}
.font{
  font-family: "Comfortaa", sans-serif;
  
}
.font2{
  font-family: "Oswald", sans-serif;
}
.sh{
  box-shadow: 1px 2px 5px white;
}