@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}
#root{
  background-color: black;
box-sizing: border-box;

}
h1, h2, h3, p{
  color: #c5a7ac;
}
h4{
  color: white;
}
.font{
  font-family: "Comfortaa", sans-serif;
  
}
.font2{
  font-family: "Oswald", sans-serif;
}
.sh{
  box-shadow: 1px 2px 5px white;
}

.ani{
  position: absolute;
  animation: dd 3s linear 1s infinite normal;
}
.ani2{
  position: absolute;
  animation: de 3s linear 1s infinite normal;
}
.s{top: 75%;}
@keyframes dd{
  0%   {color:white;  top:80%;}
  25%  {color:white; top:83%;}
  50%  {color:rgb(199, 197, 197);  top:85%;}
  75%  {color:gray;  top:87%;}
  100% {color:black;  top:91%;}
}
@keyframes de{
  0%   {color:black;  top:78%;}
  25%  {color:black; top:81%;}
  50%  {color:rgb(139, 137, 137);  top:83%;}
  75%  {color:gray;  top:87%;}
  100% {color:black;  top:91%;}
}


#root{
  min-width: calc(100vw-15px);
  min-width: calc(100vw-15px);
  overflow: hidden;
}
.bebas{
  font-family: "Bebas Neue", sans-serif;

}
.font3{
  font-family: "Dosis", sans-serif;
}
.chakra{
  font-family: "Chakra Petch", sans-serif;
}
.btn:hover{
  letter-spacing: 0.25rem;
  font-size: 1.2rem;
  background-color: white;
  color: black;
  font-weight: 900;
}
.test:hover{
  background-position: 0 -100%;
  color: black;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: larger;
}
.test{
  
    
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, black 50%, white 50%);
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 0.8s, color 0.8s, letter-spacing 0.8s, font-size 0.8s;
    

}


@media  screen and (max-width:460px) {
  .btn:hover{
    letter-spacing: 0.15rem;
    font-size: 13px;
    background-color: white;
    color: black;
    
  }
}