@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}
#root{
  background-color: black;
box-sizing: border-box;
}
h1, h2, h3, p{
  color: #c5a7ac;
}
h4{
  color: white;
}
.font{
  font-family: "Comfortaa", sans-serif;
  
}
.font2{
  font-family: "Oswald", sans-serif;
}
.sh{
  box-shadow: 1px 2px 5px white;
}

.ani{
  position: absolute;
  animation: dd 3s linear 1s infinite normal;
}
.ani2{
  position: absolute;
  animation: de 3s linear 1s infinite normal;
}
.s{top: 75%;}
@keyframes dd{
  0%   {color:white;  top:80%;}
  25%  {color:white; top:83%;}
  50%  {color:rgb(199, 197, 197);  top:85%;}
  75%  {color:gray;  top:87%;}
  100% {color:black;  top:90%;}
}
@keyframes de{
  0%   {color:white;  top:78%;}
  25%  {color:white; top:81%;}
  50%  {color:rgb(107, 104, 104);  top:84%;}
  75%  {color:gray;  top:87%;}
  100% {color:black;  top:90%;}
}

#root{
  min-width: calc(100vw-15px);
  min-width: calc(100vw-15px);
  overflow: hidden;
}
